body {
     font-family: 'Karla';
}


.container {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 25% 25% 25%;
    width: 80%;
    margin: 0 auto;
}


/*
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;

  }
}
*/

header {
    grid-column: span 4 / auto;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.4em;
    background-color: #369;
    color: white;
}
.logo {
    grid-column: span 4 / auto;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.4em;
    background-color: #369;
    color: white; 
}

main {
    grid-column: span 4 /auto;
    width: 100%;
    background-color: white;
    
}

nav {
    grid-column: span 4 / auto;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    background-color: gray;
    color: white;
}
 

footer {
    grid-column: span 4 / auto;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    background-color: #690;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #3458a7;
}