.container {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 25% 25% 25%;
    width: 80%;
    margin: 0 auto;
}


/*
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;

  }
}
*/

header {
    grid-column: span 3 / auto;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    background-color: #369;
    color: white;
}

main {
    grid-column: span 3 /auto;
    width: 100%;
    background-color: white;
    
}

nav {
    grid-column: span 3 / auto;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    background-color: gray;
    color: white;
}
 

footer {
    grid-column: span 3 / auto;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    background-color: #690;
    color: white;
}

